ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #ffa41b;
    width: 24%;
    text-align: center;
}

li:last-child {
    border-right: none;
}

#menu {
    display: block;
    color: #ffa41b;
    padding: 8px;
    background-color: #000839;
    text-decoration: none;
}

#menu:hover {
    color: #000839;
    background-color: #ffa41b;
}

.form1 {
    margin-top: 60px;
}

#backbtn {
    text-decoration: none;
    color: #000839;
}

#submitbtn {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
    text-align: center;
    position: relative;
}

#submitbtn:hover {
    border-color: #7A7A7A;
}

#submitbtn:active {
    background-color: #999999;
}

#resetbtn {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
    text-align: center;
    position: relative;
}

#resetbtn:hover {
    border-color: #7A7A7A;
}

#resetbtn:active {
    background-color: #999999;
}